*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
    height: 100%;
    background-color: #dad7d5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../img/fondo.png);
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el fondo */
    background-attachment: fixed; /* Establece la imagen de fondo como fija */
}
.header{
    width: 80%;
    height: 6em; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 20px 0px;
}
.title {
    font-size: 2em;
    margin-left: 20px;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.nav{
    width: 80%;
    height: 3em;
}
.barraNav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 20%;
    height: 100%;
    background-color: #9e34a1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 25px;
    transition: background-color 0.2s;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0px 20px;
}
.menu:hover{
    background-color: #6a206e;
}
.banner{
    width: 80%;
    height: calc(70vh - 1em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-banner{
     width: 100%; 
     height: 90%;
}
.main{
    width: 80%;
    height: 90em;
}
.planes{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    gap: 1.5em; 
}
.title-planes{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2em;
    text-align: center;
    color: #fff;
    word-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.plan{
    margin: auto;
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 30px ;
    border-radius: 10px; 
    border: 2px solid #000; 
    box-shadow:4px 4px 40px #000; 
    background-color: #ffffffe0; 
    transition: background-color 0.1s; 
    color: #000000; 
    cursor: pointer;
}
.des-plan {
    list-style-type: none;  
}

.des-plan li {
    position: relative; 
    padding-left: 1.3em; 
}

.des-plan li::before {
    content: "\f44b"; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    margin-left: -1.3em; 
    margin-right: 0.5em;
    width: 1.3em; 
}
.plan:hover{
    background-color: #c7c4c4ee;
}
.precio-plan{
    color: #f80404 ;
}
.btn-comprar{
    width: 20vh;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #000;
    background-color: #9e34a1;
    cursor: pointer;
    transition: transform 0.3s ease; /* Transición suave al cambiar la posición */
}

.btn-comprar:hover {
    transform: translateY(-5px); /* Mover hacia arriba al pasar el cursor */
}
.avisos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #fff;
}

.footer {
    width: 100%;
    line-height: 1.5;
    background-color: #505050;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.avisos {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-bottom: 10px;
}

.avisos a {
    color: #ffffff;
}

.derechos {
    margin-top: auto; 
}
.redes-sociales{
    margin-bottom: 10px;
}
.redes-sociales a {
    display: inline-block;
    margin-right: 10px;
    color: #111; 
    font-size: 30px;
    transition: color 0.3s ease; 
}

.redes-sociales .fa-facebook:hover {
    color: #0b57ca; 
}

.redes-sociales .fa-whatsapp:hover {
    color: #00bb1f; 
}

.redes-sociales .fa-instagram:hover {
    color: #7c2197; 
}

.redes-sociales .fa-twitter:hover {
    color: #ffffff; 
}

.redes-sociales .fa-google-plus:hover {
    color: #e01d1d; 
}